<h1>File list</h1>
<table class="table post-list-table">
  <thead>
      <tr>
          <th  scope="col">
              <span>Id</span></th>
          <th scope="col">
              <span>Name</span>
          </th>
          <th scope="col">
            <span>File size</span>
        </th>
          <th scope="col">
              <span>Creation Date</span></th>
          <th scope="col">
              <span>Modification Date</span>
          </th>
          <th scope="col">Actions</th>
      </tr>
  </thead>
      <tbody>
          <tr *ngFor="let file of files">
             <td>{{file.id}}</td>
             <td>{{file.fileName}}</td>
             <td>{{file.fileSize | filesize}}</td>
             <td>{{file.creationDate | date:'medium'}}</td>
             <td>{{file.modificationDate | date:'medium'}}</td>
             <td>
                <button ngbTooltip="Edit file" class="btn btn-primary action-button" (click)="editFile(file.id)" ><fa name="edit"></fa></button>
                <button ngbTooltip="Download file" class="btn btn-success action-button" ><fa name="download"></fa></button>
                <button ngbTooltip="Delete file" class="btn btn-danger action-button" (click)="deleteFile(file.id)" ><fa name="trash"></fa> </button>
             </td>
          </tr>
      </tbody>
  </table>
  <ngb-pagination (pageChange)="onPageChange($event)" class="d-flex justify-content-center" *ngIf="files.length > 0"
          [collectionSize]="this.filePagedModel.count"  [pageSize]="this.filePagedModel.size" [(page)]="this.filePagedModel.page" aria-label="Default pagination"></ngb-pagination>